<br>
<h1><%= @article.title %></h1>
<br>
<h2><%= @article.content %></h2>
<br>
<p><%= link_to "Edit this article", edit_article_path(@article) %></p>
<br>
<p><%= link_to "Delete #{@article.title}?",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %></p>
<br>
<p><%= link_to "Back to list", articles_path %></p>
